.release-page {
}

.platform-title {
  padding: 0 1rem;
}

.version-list {
  margin: 1rem 1rem 1rem 0;
  padding: 0 0 0 2rem;
}

.version {
  box-shadow: 0 0 4px #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid primary-text-color; */
  border-radius: 4px;
}

.version-link {
  display: flex;
  flex-direction: column;
}

.version-number {
  font-size: 18px;
  margin: 0;
}
