{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "chrome": "58",
                    "ie": "11"
                },
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "presets": [
                "es2015"
            ]
        }
    }
}
