@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.clipping-container {
  animation: scale-in .35s;
}

.clipping {
  width: calc(33vw - 6rem);
  min-height: 25rem;
}

@media (max-width: 768px) {
  .clipping {
    width: auto;
  }
}
