@reference "../../styles/tailwind.css";

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

.lightenButton {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 1.5);
  --gradient-from: #5ddcff;
  --gradient-via: #3c67e3;
  --gradient-to: #4e00c2;
  position: relative;
  @apply block w-fit px-12 py-4 text-center text-6xl font-extrabold text-white active:scale-95;
}

.lightenButton::before {
  content: '';
  width: 104%;
  height: 102%;
  border-radius: 8px;
  @apply bg-gradient-to-br from-sky-900 to-gray-800;
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
}

.lightenButton::after {
  position: absolute;
  content: '';
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  @apply bg-gradient-to-br from-sky-900 to-gray-800;
  opacity: 1;
  transition: opacity 0.5s;
}
