@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.lightenButton {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 1.5);
  --gradient-from: #5ddcff;
  --gradient-via: #3c67e3;
  --gradient-to: #4e00c2;
  position: relative;
  @apply w-fit py-4 px-12 text-6xl block font-extrabold text-white text-center active:scale-95;
}

.lightenButton::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , var(--gradient-from), var(--gradient-via) 43%, var(--gradient-to));
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.lightenButton::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , var(--gradient-from), var(--gradient-via) 43%, var(--gradient-to));
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
