
.none {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 1rem #333;
  padding: 10rem 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tip {
  font-size: 3rem;
  margin-top: 0;
}

.link {
  margin-top: 1rem;
  font-size: 2rem;
  color: #333;
}
