@value colors: '../../styles/variables.css';
@value primary-text-color, blur-background from colors;
.clipping {
  min-height: 100%;
}

.main {
  display: flex;
  margin-top: 10rem;
  padding: 0 5rem;
}

.main-card {
  flex: 3;
}

.action {
  width: 100%;
  margin-bottom: 1rem;
}

.action:last-child {
  margin-bottom: 0;
}

.action-btn {
  border: none;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: blur-background;
  margin: 0;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #fff;
}

.action-btn:focus {
  outline: 0;
}
