
@keyframes scale-in {
  from {
    opacity 0
    transform scale(0)
  }

  90% {
    transform scale(1.05)
  }

  to {
    opacity 1
    transform scale(1)
  }
}

@keyframes fade-in {
  from {
    opacity 0
  }

  to {
    opacity 1
  }
}

.fade-enter .page {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.slide-enter .page {
  transform: translateY(1rem);
  opacity: 0;
  z-index: 1;
}

.slide-enter.slide-enter-active .page {
  opacity: 1;
  transform: translateY(0);
  transition: all 350ms ease-in;
}

.anna-scale-in {
  opacity: 0
  animation: "scale-in" .35s ease-in-out .25s forwards;
}
.anna-fade-in {
  opacity: 0
  animation: fade-in .35s ease-in-out .25s forwards;
}
