
body
  font-family Lato, -apple-system, BlinkMacSystemFont, Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif
  scroll-behavior smooth

:root
  --gray-text-color #707070


a
  text-decoration none
  color black

// hack with @reach/router
div[role="group"][tabindex]
  flex 1

img
  max-width unset
