/* 
 * make the normalize.css lower priority
 * https://github.com/orgs/mantinedev/discussions/1672
 */
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: LxgwWenKai;
    font-weight: 400;
    font-display: swap;
    src: url('https://ck-cdn.annatarhe.cn/bhgPRXaEBMlsd2UvkcGNXD5zLCTAUCE0/LXGWWenKai-Regular.woff2')
      format('woff2');
  }
  @font-face {
    font-family: LxgwWenKai;
    font-weight: 200;
    font-display: swap;
    src: url('https://ck-cdn.annatarhe.cn/xyL5MwkKJC94mPLwKMPaqE8vJ0qncqUV/LXGWWenKai-Light.woff2')
      format('woff2');
  }
  @font-face {
    font-family: LxgwWenKai;
    font-weight: 700;
    font-display: swap;
    src: url('https://ck-cdn.annatarhe.cn/0vXoq9sQ3zl8Ber7Pev0uwaMJfSrf0px/LXGWWenKai-Bold.woff2')
      format('woff2');
  }
}

@layer utilities {
  .masonry-4 {
    columns: 4;
  }
  .masonry-3 {
    columns: 3;
  }
  .masonry-2 {
    columns: 2;
  }
  .masonry-1 {
    columns: 1;
  }

  .masonry-gap-4 {
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .masonry-gap-8 {
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .masonry-gap-12 {
    column-gap: 3rem;
    row-gap: 3rem;
  }
  .masonry-gap-16 {
    column-gap: 4rem;
    row-gap: 4rem;
  }

  /* .font-lxgw {
    font-family: LxgwWenKai;
  } */

  @keyframes animation-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .with-fade-in {
    animation: animation-fade-in 0.35s;
  }

  @keyframes animation-slide-in {
    from {
      transform: translateY(-1rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .with-slide-in {
    animation: animation-slide-in 0.35s;
  }

  .default-bg-gridient {
    @apply bg-gradient-to-br from-sky-100 to-green-200 dark:from-sky-900 dark:to-gray-800;
  }
}
