.home {
  height: 100%;
}
.header {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.clippings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


