.container {
    margin-top: 5rem;
}

.h2 {
    text-align: center;
    font-weight: 200;
    font-size: 72px;
    margin: 0 0 5rem 0;
}

.features {
    display: flex;
    flex-direction: column;
}
.feature {
    transition: background-color .35s;
}

.feature:nth-of-type(2n + 1) {
    flex-direction: row-reverse;
}

.feat-img {
}

.img {
    box-shadow: 0 0 .5rem #888;
    width: 38.6266rem;
    /* height: 30rem; */
}

.describes {
    color: black;
}

.title {
    font-size: 36px;
    font-weight: 200;
}

.sub {
    font-size: 18px;
    font-weight: 200;
}

@media (max-width: 768px) {
    .feature {
        padding: 0;
        flex-direction: column !important;
    }

    .img {
        width: 30rem;
    }

    .describes {
        padding: 0 5rem;
    }

}
