.hero {
  /* background-image: url('../../assets/coffee-blur.jpg'); */
  /* background-image: url('https://wx1.sinaimg.cn/large/b8861941gy1gjuy0vzev3j22c0340e82.jpg'); */
  background-image: url('../../assets/clippingkk-hero-bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.video {
  width: 60rem;
  height: 40rem;
  border: 0;
  box-shadow: 0 0 1rem #888;
  border-radius: 4px;
  max-width: 100%;
}

.titleField {
  animation-name: fade-in;
  animation-duration: 1s;
}

.platform-list {
  list-style: none;
  display: flex;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 8rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 2rem;
  }

  .title-field {
    flex-direction: column;
  }
  .video {
    height: 30rem;
  }
}
