@value colors: '../../styles/variables.css';
@value primary-text-color, blur-background, grey-lite from colors;

.cover {
  width: 30rem;
  height: 40rem;
}
/* .cover:hover {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 1rem #888;
} */

.cover:hover .image {
  transform: translateY(-2rem) scale(1.1);
}

.image {
  width: 300px;
  height: 350px;
  box-shadow: 0 0 4px #888;
  transition: all .35s;
  border-radius: 4px;
}
