.preview {

  display: flex;
}

.preview-image {
  /* width: 270px;
  height: 480px; */
  height: 812px;
  width: 375px;
}

.footer {
  color: #fff;
  margin-left: 1rem;
  border-left: 1px solid #fff;
}

.action {
  margin-left: 1rem;
}

.download {
  color: #fff;
  font-size: 20px;
}
