.loading {
  height:100vh;
  width:100%;
  background: #f0932b;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  display: flex;
  align-items: center;
}

.loading::before{
  content: "";
  position :absolute;
  height:100px;
  width:100px;
  background: #686de0;
  left:20%;
  border-radius: 20px;
  transform: translateX(-50%) rotate(0);
  animation: loading 5s infinite linear; 
}

@keyframes loading {
  0%{
    transform: translateX(-50%) rotate(0);
  }
  50%{
    left:80%;
  }
  100%{
    transform: translateX(-50%) rotate(1440deg);
  }
}
