.dialog {
  opacity: 0;
  animation: "scale-in" 0.35s ease-in-out 0.25s forwards;
}

.mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: "fade-in" 0.35s;
  z-index: 200;
  backdrop-filter: blur(10px);
}
