.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
    background-color: #eee;
}

.footer a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 5rem;
    }
}
