# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm install -g apollo
    - run: apollo codegen:generate --target=typescript --localSchemaFile="./src/schema/schema.json" --includes="./src/schema/**/*.graphql" --useReadOnlyTypes
    - run: npm run coveralls
      env:
        COVERALLS_REPO_TOKEN : ${{ secrets.CODEALLS_REPO_TOKEN }}
    - name: Build
      run: |
        echo "::set-env name=VERSION::v${GITHUB_REF/refs\/tags\//}"
        npm run build
    
    - name: Deploy static to Tencent CloudBase
      uses: TencentCloudBase/cloudbase-action@v1
      with:
        secretId: ${{ secrets.SECRET_ID }}
        secretKey: ${{ secrets.SECRET_KEY }}
        # 云开发的环境id
        envId: ${{ secrets.ENV_ID }}
        # Github 项目静态文件的路径
        staticSrcPath: dist
